assignmentdialog-samples/.classpath
assignmentdialog-samples/.project
assignmentdialog-samples/.settings/
assignmentdialog-samples/target/
assignmentdialog/.classpath
assignmentdialog/.project
assignmentdialog/.settings/
assignmentdialog/target/